<p>
  <strong>Name:</strong>
  <%= @potato.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @potato.description %>
</p>

<p>
  <strong>Image Link:</strong>
  <%= link_to @potato.link, @potato.link %>

</p>
<p>
  <strong>Image:</strong>
  <img src="<%=@potato.link%>">
</p>

<%= link_to 'Edit', edit_potato_path(@potato) %> |
<%= link_to 'Back', potatos_path %>
