<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "errores") %> impidieron guardar este usuario:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %></br>
    <%= f.text_field :username %>
  </div>
  <% unless hide_password %>
    <div class="field">
      <%= f.label :password %></br>
      <%= f.text_field :password %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :email %></br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
  <%= f.check_box :admin %>
  <%= f.label :admin %>
  </div>
  <div class="field">
  <%= f.check_box :active, { checked: true } %>
  <%= f.label :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
