<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Activo:</strong>
  <%= @user.active %>
</p>

<%=
text = ""
if @user.active
  text = "Bloquear"
else
  text = "Desbloquear"
end
link_to text, admin_active_toggle_path({id: @user.id, path: admin_path}), method: :patch
%> |
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
