<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Administrador:</strong>
  <%= @user.admin ? "Si" : "No" %>
</p>

<p>
  <strong>Activo:</strong>
  <%= @user.active ? "Si" : "No" %>
</p>

<%=
text = ""
if @user.active
  text = "Bloquear"
else
  text = "Desbloquear"
end
link_to text, admin_active_toggle_path({id: @user.id, path: user_path}), method: :patch
%> |
<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Atrás', users_path %>
