<h1>Listing Potatos</h1>
<%= link_to 'New potato', new_potato_path %>
<br>
<br>
<table>
  <tr>
    <th> Name </th>
    <th> Description </th>
    <th> Image Link </th>
  </tr>

  <% @potatos.each do |potato| %>
    <tr>
      <td><%= potato.name %></td>
      <td><%= potato.description %></td>
      <td><%= link_to potato.link, potato.link %></td>
      <td><%= image_tag(potato.link) %></td>
      <td><%= link_to 'Show', potato_path(potato) %></td>
      <td><%= link_to 'Edit', edit_potato_path(potato) %></td>
      <td>
        <%= link_to 'Destroy', potato_path(potato),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>
