<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @product.stock %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Imagen:</strong>
  <%= @product.image %>
</p>

<p>
  <strong>Familia:</strong>
  <%= @product.family %>
</p>

<p>
  <strong>Promocion:</strong>
  <%= @product.promotion ? "Si" : "No" %>
</p>
<div class="link_edit">
  <%= link_to 'Editar', edit_admin_product_path(@product) %> |
  <%= link_to 'Atrás', admin_products_path %>
</div>
