<div id="name_ask">
  <h1>Bienvenido</h1>
  <p>Para continuar por favor tu usuario y clave</p>
  <% if @error.present? %>
    <div class="error-message"><strong>Atención: </strong><%= @error %></div>
  <% end %>
  <%= form_tag login_validate_path do %>
    <div class="form-control">
      <%= label_tag(t("activerecord.attributes.user.username")) %>
      <%= text_field_tag(:username, nil, placeholder: "") %>
    </div>
    <div class="form-control">
      <%= label_tag(t("activerecord.attributes.user.password")) %>
      <%= password_field_tag(:password) %>
      <%# link_to 'Recuperar contraseña', login_reset_password_path %>
    </div>
    <div class="form-control">
      <%= submit_tag("Ingresar") %>
    </div>
  <% end %>
</div>
