<%= form_for @potato do |potato| %>

  <% if @potato.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@potato.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @potato.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= potato.label :name %><br>
    <%= potato.text_field :name %>
  </p>

  <p>
    <%= potato.label :description %><br>
    <%= potato.text_area :description %>
  </p>

  <p>
    <%= potato.label :link %><br>
    <%= potato.text_field :link %>
  </p>

  <p>
    <%= potato.submit %>
  </p>

<% end %>
