<h1>Editando clave</h1>
<h2><%= @user.username %></h2>

<%= form_for(@user, url: admin_user_path(@user)) do |f| %>
  <% if @user.errors.any? %>
    <div class="error-message">
      <h2><%= pluralize(@user.errors.count, "errores") %> impidieron guardar este usuario:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :password %></br>
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
