<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Administrador:</strong>
  <%= @user.admin ? "Si" : "No" %>
</p>

<p>
  <strong>Activo:</strong>
  <%= @user.active ? "Si" : "No" %>
</p>

<%=
text = ""
if @user.active
  text = "Bloquear"
else
  text = "Desbloquear"
end
link_to text, admin_active_toggle_path({id: @user.id, path: admin_user_path}), method: :patch
%> |
<%= link_to 'Editar usuario', edit_admin_user_path(@user) %> |
<%= link_to 'Editar contraseña', admin_edit_user_password_path(@user) %> |
<%= link_to 'Atrás', admin_users_path %>
