<p>
  <strong><%= t("activerecord.attributes.user.username") %>:</strong>
  <%= @current_user.username %>
</p>

<p>
  <strong><%= t("activerecord.attributes.user.email") %>:</strong>
  <%= @current_user.email %>
</p>

<%= link_to 'Cambiar email', profile_edit_path %> |
<%= link_to 'Cambiar contraseña', profile_edit_password_path %>
