<p>
  <strong><%= t("activerecord.attributes.user.username") %>:</strong>
  <%= @current_user.username %>
</p>

<p>
  <strong><%= t("activerecord.attributes.user.email") %>:</strong>
  <%= @current_user.email %>
</p>

<%= link_to 'Editar', profile_edit_path %>
