
<div class="columnas">
  <% @products.each do |product| %>
  <div class="celda_p">
      <div  class="nombre" data_item_name= "<%= product.name %>" data_item_description= "<%= product.description %>" data_item_link= "<%= store_product_path(product) %>"><%= product.name %></div>
      <div class="precio">$<%= product.price %></div>
      <div class="imagen"> Acá va la imagen </div>
      <div class="mas_opciones">Ver más opciones</div>
      <!-- <div class="descripcion"><%= product.description %></div> -->
      <!-- <div class="info_prod"><%= link_to 'Detalle..', store_product_path(product) %></div> -->
  </div>
  <% end %>

</div>
