<h1>Promociones</h1>
<div id="bgwindow">
  <div id="window">
    <p class="cerrar">Cerrar</p>
    <h1>NIDASTORE</h1>
    <h2>LA MEJOR TIENDA</h2>
  </div>
</div>

<%= render 'layouts/page_cycling' %>

<div class="columnas" data_item_count_max="<%= @item_count_max %>">
  <% Product.where(promotion: true).each do |product| %>
  <div class="celda_p<%= @item_count < @item_count_max ? "" : " hidden" %>">
      <div  class="nombre" data_item_name= "<%= product.name %>" data_item_description= "<%= product.description %>" data_item_link= "<%= store_product_path(product) %>"><%= product.name %></div>
      <div class="precio"> $<%= product.price %></div>
      <div class="imagen"> Acá va la imagen </div>
        <div class="mas_opciones" data_item_family="<%= product.family %>"> Acá va las opciones</div>
      <!-- <div class="descripcion"><%= product.description %></div> -->
      <!-- <div class="info_prod"><%= link_to 'Detalle', store_product_path(product) %></div> -->
  </div>
  <% @item_count += 1 %>
  <% end %>
</div>
