<!DOCTYPE html>
<html>
<head>
  <title>Nidastore</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
      <nav class="principal_options">
        <%= link_to image_tag('logo', height: '100', width: '100'), root_path %>
        <%= link_to 'Nidastore', root_path %>
        <%= if @current_user != nil
          link_to "Mi Perfil", profile_path
        end
        %>
        <%= if @current_user != nil && @current_user.admin
          link_to "Administrar sitio", admin_path
        end
        %>
        <%= if @current_user != nil
          link_to "Cerrar sesion", login_logout_path, method: :delete
        else
          link_to "Iniciar sesion", login_path
        end %>
        <%= yield %>
      </nav>
  </header>


</body>
</html>
