<%= render 'layouts/base_layout' %>
<%= render 'layouts/main_nav_bar' %>

<nav class="MenuCat">
    <%= link_to 'Inicio', store_products_path(family: 0), remote: true %>
    <%= link_to 'Computadores', store_products_path(family: 1), remote: true %>
    <%= link_to 'Desodorantes', store_products_path(family: 2), remote: true %>
</nav>

</header>

<%= yield %>

</body>
</html>
