<%= render 'layouts/base_layout' %>
<%= render 'layouts/main_nav_bar' %>

<nav class="MenuCat">
    <%= link_to 'Inicio', root_path %>
    <%= link_to 'Computadores', store_computers_path %>
    <%= link_to 'Desodorantes', store_deodorants_path %>
</nav>

</header>

<%= yield %>

</body>
</html>
